<h3 *ngIf="title">{{title}}</h3>
<div class="shral_table" [ngClass]="{config.cssTableClass: config.cssTableClass}">
  <div class="th patient" [ngClass]="{config.cssThClass: config.cssThClass}">
    <div class="td"*ngFor="let patient_table of tableSchema.patient" [ngClass]="{config.cssTdClass: config.cssTdClass}" [ngStyle]="{width: patient_table.calculatedWidth}">
      <ng-container *ngIf="patient_table.type === 'value'">{{patient_table.header}}</ng-container>
    </div>
  </div>
  <div class="tr" [ngClass]="{config.cssTrClass: config.cssTrClass}">
    <div class="td" *ngFor="let patient_table of tableSchema.patient" [ngClass]="{config.cssTdClass: config.cssTdClass}" [ngStyle]="{width: patient_table.calculatedWidth}">
      <ng-container *ngIf="patient_table.type === 'value'">{{patient_table.header}}</ng-container>
    </div>
  </div>
</div>
